POSTGRES_USER=coopgame
POSTGRES_PASSWORD=change_me_to_a_long_local_password
POSTGRES_DB=coopgame
POSTGRES_HOST_PORT=15432
REDIS_HOST_PORT=6379
SILO_HEALTH_HOST_PORT=5266
API_HOST_PORT=5265
ADMIN_HOST_PORT=5275
OBSERVABILITY_DASHBOARD_PORT=18888
OTLP_GRPC_PORT=4317
OTLP_HTTP_PORT=4318
JWT_SIGNING_KEY=replace_with_a_random_value_of_at_least_32_bytes
ADMIN_LOGIN_ID=portfolio_admin
ADMIN_PASSWORD=replace_with_a_long_local_admin_password
ADMIN_NICKNAME=PortfolioAdmin
